name: A workflow for my Hello World file
on:
 push:
 pull_request:
  branches: [main]
jobs:
  install-runner-default:
    runs-on: ubuntu-20.04
    name: Install runner on openshift cluster
    steps:
      - name: Authenticate
        uses: redhat-actions/oc-login@v1
        env:
          OPENSHIFT_USER: ${{ secrets.OPENSHIFT_USER }}
          OPENSHIFT_NAMESPACE: default
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          insecure_skip_tls_verify: true
          namespace: default
      - name: Install self hosted runner into this repository
        uses: redhat-actions/openshift-actions-runner-installer@v1
        with:
          github_pat: ${{ secrets.PAT }}
      - name: Install CLI tools from OpenShift Mirror
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          source: "mirror"
          oc: "3"
          helm: "latest"
          
  run-kube-linter :
    name: Running Kube-Linter on a set of .yaml file without .js conversion
    needs: install-runner-default
    runs-on: [self-hosted]
    steps:      
      - uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v2
        with:
          node-version: '12'
      - uses: actions/checkout@v2
      - name: Lint Repository 
        uses: github-actions-for-cdci/custom-kube-linter-action@main
        with:
          directory: sample/invalid-yaml
          output-file: output.sarif
      - name: Show sarif
        if: always()
        run: |  
          cat output.sarif
      - name: Upload result to GitHub Code Scanning 
        if: always()
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: output.sarif
         
  print-log :
    name: Print the linter log file
    needs: run-kube-linter
    runs-on: [self-hosted]     
    steps:   
      - shell: bash
        run: |
             cat output.sarif

#  run-python-script :
#   name: Check the number of errors found by Kube-linter
#   needs: save-log-if-kubelinter-fails
#   runs-on: [self-hosted]
#   if: always() && (needs.save-log-if-kubelinter-fails.result == 'success')
#   steps:
#      - name: Download log file
#        uses: actions/download-artifact@v2
#        with:
#          name: 'Kube-linter log'
#      - name: Checkout repo
#        uses: actions/checkout@v1
#      - name: Run custom action to install python
#        uses: ./action-a
